body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u229 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u230 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u232 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:288px;
  top:120px;
  width:94px;
  height:46px;
}
#u234 {
  position:absolute;
  left:2px;
  top:15px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_ann {
  position:absolute;
  left:375px;
  top:116px;
  width:1px;
  height:1px;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  position:absolute;
  left:398px;
  top:120px;
  width:70px;
  height:46px;
}
#u236 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_ann {
  position:absolute;
  left:461px;
  top:116px;
  width:1px;
  height:1px;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:212px;
  top:665px;
  width:134px;
  height:46px;
}
#u238 {
  position:absolute;
  left:2px;
  top:15px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_ann {
  position:absolute;
  left:339px;
  top:661px;
  width:1px;
  height:1px;
}
