body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u164 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u165 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u167 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:130px;
  top:382px;
  width:125px;
  height:48px;
}
#u169 {
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_ann {
  position:absolute;
  left:248px;
  top:378px;
  width:1px;
  height:1px;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:61px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  position:absolute;
  left:397px;
  top:649px;
  width:78px;
  height:61px;
  opacity:0.4;
}
#u171 {
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_ann {
  position:absolute;
  left:468px;
  top:645px;
  width:1px;
  height:1px;
}
