body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1037px;
}
#u22 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:1037px;
}
#u23 {
  position:absolute;
  left:2px;
  top:510px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u25 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:405px;
  top:116px;
  width:60px;
  height:46px;
  opacity:0.4;
}
#u27 {
  position:absolute;
  left:2px;
  top:15px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_ann {
  position:absolute;
  left:458px;
  top:112px;
  width:1px;
  height:1px;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:429px;
  top:585px;
  width:46px;
  height:46px;
}
#u29 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_ann {
  position:absolute;
  left:468px;
  top:581px;
  width:1px;
  height:1px;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:111px;
  top:900px;
  width:115px;
  height:115px;
}
#u31 {
  position:absolute;
  left:2px;
  top:50px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_ann {
  position:absolute;
  left:219px;
  top:896px;
  width:1px;
  height:1px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:230px;
  top:900px;
  width:115px;
  height:115px;
}
#u33 {
  position:absolute;
  left:2px;
  top:50px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_ann {
  position:absolute;
  left:338px;
  top:896px;
  width:1px;
  height:1px;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:111px;
  top:1026px;
  width:354px;
  height:63px;
}
#u35 {
  position:absolute;
  left:2px;
  top:24px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_ann {
  position:absolute;
  left:458px;
  top:1022px;
  width:1px;
  height:1px;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:429px;
  top:634px;
  width:46px;
  height:46px;
}
#u37 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_ann {
  position:absolute;
  left:468px;
  top:630px;
  width:1px;
  height:1px;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:429px;
  top:684px;
  width:46px;
  height:46px;
  opacity:0.4;
}
#u39 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_ann {
  position:absolute;
  left:468px;
  top:680px;
  width:1px;
  height:1px;
}
