body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u293 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u294 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295 {
  position:absolute;
  left:107px;
  top:442px;
  width:357px;
  height:46px;
}
#u296 {
  position:absolute;
  left:2px;
  top:15px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_ann {
  position:absolute;
  left:457px;
  top:438px;
  width:1px;
  height:1px;
}
