body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u13 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u15 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
