body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u182 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u183 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u185 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  position:absolute;
  left:390px;
  top:291px;
  width:85px;
  height:85px;
}
#u187 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_ann {
  position:absolute;
  left:468px;
  top:287px;
  width:1px;
  height:1px;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  position:absolute;
  left:390px;
  top:632px;
  width:85px;
  height:85px;
}
#u189 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_ann {
  position:absolute;
  left:468px;
  top:628px;
  width:1px;
  height:1px;
}
