body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:838px;
}
#u93 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:838px;
}
#u94 {
  position:absolute;
  left:2px;
  top:411px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u96 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:412px;
  top:114px;
  width:46px;
  height:46px;
  opacity:0.3;
}
#u98 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_ann {
  position:absolute;
  left:451px;
  top:110px;
  width:1px;
  height:1px;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  position:absolute;
  left:429px;
  top:610px;
  width:46px;
  height:46px;
  opacity:0.4;
}
#u100 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_ann {
  position:absolute;
  left:468px;
  top:606px;
  width:1px;
  height:1px;
}
#u101 {
  position:absolute;
  left:100px;
  top:828px;
}
#u101_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u101_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
}
#u103 {
  position:absolute;
  left:2px;
  top:22px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_ann {
  position:absolute;
  left:361px;
  top:-4px;
  width:1px;
  height:1px;
}
#u101_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u101_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_ann {
  position:absolute;
  left:361px;
  top:-4px;
  width:1px;
  height:1px;
}
#u101_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u101_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
}
#u107 {
  position:absolute;
  left:2px;
  top:22px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_ann {
  position:absolute;
  left:361px;
  top:-4px;
  width:1px;
  height:1px;
}
#u101_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u101_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
}
#u109 {
  position:absolute;
  left:2px;
  top:22px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_ann {
  position:absolute;
  left:361px;
  top:-4px;
  width:1px;
  height:1px;
}
