body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u349 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u350 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u352 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u353 {
  position:absolute;
  left:344px;
  top:295px;
  width:116px;
  height:46px;
}
#u354 {
  position:absolute;
  left:2px;
  top:15px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_ann {
  position:absolute;
  left:453px;
  top:291px;
  width:1px;
  height:1px;
}
#u355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355 {
  position:absolute;
  left:429px;
  top:366px;
  width:46px;
  height:46px;
}
#u356 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_ann {
  position:absolute;
  left:468px;
  top:362px;
  width:1px;
  height:1px;
}
#u357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  position:absolute;
  left:429px;
  top:422px;
  width:46px;
  height:46px;
}
#u358 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_ann {
  position:absolute;
  left:468px;
  top:418px;
  width:1px;
  height:1px;
}
#u359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u359 {
  position:absolute;
  left:100px;
  top:422px;
  width:239px;
  height:80px;
}
#u360 {
  position:absolute;
  left:2px;
  top:32px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_ann {
  position:absolute;
  left:332px;
  top:418px;
  width:1px;
  height:1px;
}
