body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:115px;
  top:422px;
  width:345px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_ann {
  position:absolute;
  left:453px;
  top:418px;
  width:1px;
  height:1px;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:115px;
  top:660px;
  width:345px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_ann {
  position:absolute;
  left:453px;
  top:656px;
  width:1px;
  height:1px;
}
