body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u288 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u289 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u291 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  position:absolute;
  left:424px;
  top:260px;
  width:46px;
  height:46px;
}
#u293 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_ann {
  position:absolute;
  left:463px;
  top:256px;
  width:1px;
  height:1px;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  position:absolute;
  left:169px;
  top:671px;
  width:46px;
  height:46px;
}
#u295 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_ann {
  position:absolute;
  left:208px;
  top:667px;
  width:1px;
  height:1px;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  position:absolute;
  left:429px;
  top:361px;
  width:46px;
  height:46px;
}
#u297 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_ann {
  position:absolute;
  left:468px;
  top:357px;
  width:1px;
  height:1px;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298 {
  position:absolute;
  left:435px;
  top:426px;
  width:46px;
  height:46px;
}
#u299 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_ann {
  position:absolute;
  left:474px;
  top:422px;
  width:1px;
  height:1px;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  position:absolute;
  left:435px;
  top:482px;
  width:46px;
  height:46px;
}
#u301 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_ann {
  position:absolute;
  left:474px;
  top:478px;
  width:1px;
  height:1px;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u302 {
  position:absolute;
  left:435px;
  top:547px;
  width:46px;
  height:46px;
}
#u303 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_ann {
  position:absolute;
  left:474px;
  top:543px;
  width:1px;
  height:1px;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  position:absolute;
  left:435px;
  top:609px;
  width:46px;
  height:46px;
}
#u305 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_ann {
  position:absolute;
  left:474px;
  top:605px;
  width:1px;
  height:1px;
}
