body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:838px;
}
#u106 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:838px;
}
#u107 {
  position:absolute;
  left:2px;
  top:411px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u109 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u110 {
  position:absolute;
  left:100px;
  top:828px;
}
#u110_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u110_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
}
#u112 {
  position:absolute;
  left:2px;
  top:22px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_ann {
  position:absolute;
  left:361px;
  top:-4px;
  width:1px;
  height:1px;
}
#u110_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u110_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:59px;
}
#u114 {
  position:absolute;
  left:2px;
  top:22px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_ann {
  position:absolute;
  left:361px;
  top:-4px;
  width:1px;
  height:1px;
}
