body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u313 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u314 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u316 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  position:absolute;
  left:115px;
  top:505px;
  width:345px;
  height:61px;
}
#u318 {
  position:absolute;
  left:2px;
  top:22px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_ann {
  position:absolute;
  left:453px;
  top:501px;
  width:1px;
  height:1px;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:120px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319 {
  position:absolute;
  left:199px;
  top:320px;
  width:178px;
  height:120px;
  opacity:0.4;
}
#u320 {
  position:absolute;
  left:2px;
  top:52px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_ann {
  position:absolute;
  left:370px;
  top:316px;
  width:1px;
  height:1px;
}
