body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u285 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u286 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u287 {
  position:absolute;
  left:115px;
  top:650px;
  width:346px;
  height:46px;
}
#u288 {
  position:absolute;
  left:2px;
  top:15px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_ann {
  position:absolute;
  left:454px;
  top:646px;
  width:1px;
  height:1px;
}
