body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u362 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:667px;
}
#u363 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  position:absolute;
  left:100px;
  top:69px;
  width:46px;
  height:46px;
}
#u365 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_ann {
  position:absolute;
  left:139px;
  top:65px;
  width:1px;
  height:1px;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366 {
  position:absolute;
  left:429px;
  top:127px;
  width:46px;
  height:46px;
}
#u367 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_ann {
  position:absolute;
  left:468px;
  top:123px;
  width:1px;
  height:1px;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u368 {
  position:absolute;
  left:429px;
  top:177px;
  width:46px;
  height:46px;
}
#u369 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_ann {
  position:absolute;
  left:468px;
  top:173px;
  width:1px;
  height:1px;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  position:absolute;
  left:115px;
  top:239px;
  width:345px;
  height:46px;
}
#u371 {
  position:absolute;
  left:2px;
  top:15px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_ann {
  position:absolute;
  left:453px;
  top:235px;
  width:1px;
  height:1px;
}
